html {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  padding: 0;
  margin: 0;
}
img {
  object-fit: contain;
  display: block;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/ptsans.woff") format("woff"), url("../../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/ptsansbold.woff") format("woff"), url("../../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  text-transform: uppercase;
}
.main-header {
  min-height: 56px;
  min-width: 320px;
  position: relative;
}
.main-header__logo {
  z-index: 1;
  line-height: 0;
  width: 185px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-header__logo:focus {
  outline: 1px solid #000000;
  border-radius: 4px;
}
.main-nav__wrapper {
  padding-top: 96px;
}
.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 2;
  width: 23px;
  height: 22px;
  background-image: url("../../../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  opacity: 0.9;
}
.main-nav__toggle:disabled {
  opacity: 0.3;
}
.main-nav__menu {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  display: none;
}
.main-nav__item {
  background-color: #81b3d2;
  min-height: 55px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid #668bab;
}
.main-nav__link {
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 12px;
}
.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  padding-top: 90px;
  background-color: rgba(129, 179, 210, 0.4);
  background-image: url("../../../img/photo_mobile-background.jpg");
  background-repeat: no-repeat;
  min-height: 389px;
  background-size: cover;
}
.main-adv__wrapper {
  padding: 32px 18px 34px;
  min-height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-adv__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.main-adv__description {
  margin: 0;
}
.main-adv__container {
  padding: 38px 18px 35.5px;
}
.main-adv__container--divider {
  padding-top: 51px;
  padding-bottom: 39px;
  background-image: url("../../../img/index-white-divider2.svg");
  background-repeat: no-repeat;
  background-position: 0 -19px;
}
.main-adv__number {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 17px;
}
.main-adv__item--bright {
  color: #ffffff;
  background-color: #81b3d2;
}
.main-adv__item--usual {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}
.main-adv__item--usual:last-of-type {
  border: none;
  padding-bottom: 27px;
}
.add-list {
  text-align: left;
  padding: 23px 18px 44.5px;
}
.add-list__item {
  padding-left: 47px;
  padding-bottom: 24px;
  padding-top: 8px;
}
.add-list__item:last-of-type {
  padding-bottom: 0;
}
.add-list__item .main-adv__title {
  padding-bottom: 16px;
}
.hotel-search {
  padding: 41px 18px 49px;
}
.hotel-search__title {
  margin: 0;
  margin-bottom: 24px;
}
.hotel-search__description {
  margin: 0;
  margin-bottom: 31.5px;
}
.hotel-search__button {
  min-height: 58px;
  padding-top: 16.5px;
  padding-bottom: 15.5px;
  padding-left: 49px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.sedona-map {
  background-image: url("../../../img/map-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 350px;
  margin-bottom: 11px;
}
.page-footer {
  padding: 28px 82px 23px;
}
.page-footer__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 33px;
}
.socials__list {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.socials__item {
  margin-right: 6px;
  background-color: #81b3d2;
}
.socials__item:last-of-type {
  margin-right: 0;
}
.socials__link {
  width: 48px;
  height: 48px;
  padding-top: 12px;
}
.socials__link svg {
  fill: #ffffff;
}
.html-academy {
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
}
.html-academy__title {
  padding-top: 8px;
  margin-right: 12px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  padding-top: 52px;
  background-color: rgba(129, 179, 210, 0.4);
  background-image: url("../../../img/hero_mobile.jpg");
  background-repeat: no-repeat;
  min-height: 158px;
  background-size: cover;
  background-position: left bottom;
}
.catalog__header {
  padding: 38px 18px 36px;
  border-bottom: 1px solid #e5e5e5;
}
.catalog__item {
  border-bottom: 1px solid #e5e5e5;
}
.header__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.header__description {
  margin: 0;
}
.card {
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 20px;
  padding-bottom: 25px;
}
.card__text-wrapper {
  text-align: left;
  padding-top: 15px;
}
.card__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 1px;
}
.card__author {
  text-transform: none;
  margin: 0;
  margin-bottom: 11px;
}
.card__likes-area {
  text-align: left;
}
.card__likes-button {
  background-image: url("../../../../img/icon-like.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 23px;
  height: 21px;
  border: none;
  padding: 0;
  padding-top: 20px;
  padding-left: 1px;
  margin-right: 11px;
}
.card__likes {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.video__text-wrapper {
  padding-top: 18.5px;
  padding-bottom: 38px;
}
.video__title {
  margin: 0;
  margin-bottom: 27px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.video__description {
  margin: 0;
}
.video__shot-wrapper {
  padding: 0 16px 0 20px;
}
.feedback__header {
  padding-top: 36px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
}
.form__block {
  border-bottom: 1px solid #e5e5e5;
}
.form__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  margin-bottom: 20px;
}
.form__submit {
  padding: 55.5px 18px 24px;
}
.form__button {
  min-height: 58px;
  padding-top: 16.5px;
  padding-bottom: 15.5px;
  padding-left: 49px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
}
.form__required-note {
  display: block;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  line-height: 21px;
  padding-right: 2px;
  padding-top: 3px;
}
.form-fields {
  padding-left: 18px;
  padding-right: 18px;
}
.form-fields__user-name {
  display: grid;
  row-gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: 79px 79px 79px;
  margin-bottom: 39px;
}
.form-fields__title {
  display: block;
  text-align: left;
  padding-left: 18px;
}
.form-fields__user-contacts {
  display: grid;
  row-gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: 79px 79px;
  margin-bottom: 35.5px;
}
.form-fields__opinions-list {
  margin-top: 10px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: 46px 46px 46px;
  margin-bottom: 14px;
}
.form-fields__places-list {
  margin-top: 10px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: 46px 46px 46px 46px;
  margin-bottom: 14px;
}
.input-text__field {
  border: none;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 17px;
  padding-bottom: 16px;
  display: block;
  min-width: 280px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.input-text__field--user-review {
  min-height: 150px;
  resize: none;
}
.radio {
  position: relative;
}
.radio__label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  padding-left: 24px;
}
.radio__input {
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  left: -3px;
  top: -14px;
}
.checkbox {
  position: relative;
}
.checkbox__label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  display: block;
  text-align: left;
  padding-left: 64px;
}
.checkbox__input {
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  left: -1px;
  top: -12.5px;
}
/*# sourceMappingURL=style.css.map */
