.hotel-search {
  padding: 41px 18px 49px;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 24px;
}

.hotel-search__description {
  margin: 0;
  margin-bottom: 31.5px;
}

.hotel-search__button {
  min-height: 58px;
  padding-top: 16.5px;
  padding-bottom: 15.5px;
  padding-left: 49px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
  .font-family-bold;
  font-size: 21px;
  line-height: 26px;
}
