.hotel-search {
  padding: 43px 18px 49px;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-left: 163px;
    padding-right: 147px;
  }
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 31px;
  }
}

.hotel-search__description {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    padding-left: 9px;
    padding-right: 10px;
    margin-bottom: 40px;
  }
}

.hotel-search__button {
  min-height: 58px;
  padding-top: 16.5px;
  padding-bottom: 15.5px;
  padding-left: 49px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
  .font-family-bold;
  font-size: 21px;
  line-height: 26px;

  &:focus {
    outline: none;
    background-color: #669ec0;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
  }
}
