.main-banner {
  .flex-column;
  align-items: center;
  margin-top: -40px;
  padding-top: 90px;
  background-color: rgba(129, 179, 210, 0.4);
  background-image: url("../../../img/photo_mobile-background.jpg");
  background-repeat: no-repeat;
  min-height: 389px;
  background-size: cover;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}
