.form__block {
  .border-page;

  &--review {
    border: none;
  }
}

.form__title {
  .font-family-bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin-bottom: 20px;
  color: #000000;

  &--pixelperfect {
    margin-bottom: 19px;
  }
}

.form__submit {
  padding: 56px 18px 25px;
}

.form__button {
  min-height: 58px;
  padding-top: 17px;
  padding-bottom: 15.5px;
  padding-left: 49px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
  .font-family-bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
    background-color: #669ec0;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__required-note {
  .block;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  line-height: 21px;
  padding-right: 2px;
  padding-top: 2px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    color: #333333;
  }
}
