.form__block {
  .border-page;
}

.form__title {
  .font-family-bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  margin-bottom: 20px;
}

.form__submit {
  padding: 55.5px 18px 24px;
}

.form__button {
  min-height: 58px;
  padding-top: 16.5px;
  padding-bottom: 15.5px;
  padding-left: 49px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
  .font-family-bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
}

.form__required-note {
  .block;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  line-height: 21px;
  padding-right: 2px;
  padding-top: 3px;
}
