.input-text__field {
  border: none;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 17px;
  padding-bottom: 16px;
  .block;
  min-width: 280px;
  .font-family-bold;
  font-size: 18px;
  line-height: 26px;

  &--user-review {
    min-height: 150px;
    resize: none;
  }
}
