.add-list {
  text-align: left;
  padding: 23px 18px 44.5px;
}

.add-list__item {
  padding-left: 47px;
  padding-bottom: 24px;
  padding-top: 8px;

  &:last-of-type {
    padding-bottom: 0;
  }

  .main-adv__title {
    padding-bottom: 16px;
  }
}
