.main-nav__wrapper {
  padding-top: 96px;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 2;
  width: 23px;
  height: 22px;
  background-image: url("../../../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  display: none;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.main-nav__menu {
  .font-family-bold;
  //display: none;
}

.main-nav__item {
  background-color: #81b3d2;
  min-height: 55px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid #668bab;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.main-nav__link {
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 12px;

  &--current {
    color: #766357;
  }

  &:focus {
    outline: none;
    color: rgba(118, 99, 87, 0.5);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
