.header__title {
  margin: 0;
  margin-bottom: 23px;
  .font-family-bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--pixelperfect {
    margin-bottom: 24px;
  }
}

.header__description {
  margin: 0;
}
