.hero {
  .flex-column;
  align-items: center;
  margin-top: -40px;
  padding-top: 52px;
  background-color: rgba(129, 179, 210, 0.4);
  background-image: url("../../../img/hero_mobile.jpg");
  background-repeat: no-repeat;
  min-height: 158px;
  background-size: cover;
  background-position: left bottom;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}
